# Игнорировать каталоги и файлы, создаваемые Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Игнорировать виртуальное окружение (если используется)
venv/
env/
.env/

# Игнорировать файлы настроек IDE (например, для VSCode или PyCharm)
.vscode/
.idea/

# Игнорировать системные файлы
.DS_Store  # Для MacOS
Thumbs.db  # Для Windows
